<div class="my-3">
    <h2>ConcatMap</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex -01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech Video List : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer1">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | Map + SwitchAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Comdey Video List : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | switchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Video List : </strong> ['Teach', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>
