<div class="row my-5">
    <div class="col-md-12 mb-5">
        <h3>From Event ( Observable Operator To Create Observable Stream )</h3>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Video</div>
            <div class="card-body">
                <button class="btn btn-primary" #addBtn>Add Video</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul id="elContainer2">
                </ul>
            </div>
        </div>
    </div>
</div>
