<div class="my-3">
    <h2>Take, TakeLast and TakeUntil</h2>
    <br>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <p class="bg-light rounded py-3 px-3">
                <strong>Random Names : </strong>
                'Anup', 'Shekhar', 'Sharma', 'Uxtrendz', 'John', 'Alex', 'Robert'
            </p>
            <hr>
        </div>
        <div class="col-md-4">
            <strong>Ex - 01 | Take(5)</strong>
            <hr>
            <ul class="techList" id="elContainer1">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | TakeLast(5)</strong>
            <hr>
            <ul class="techList" id="elContainer2">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | TakeUntil(Condition)</strong>
            <hr>
            <ul class="techList" id="elContainer3">

            </ul>
        </div>
    </div>
    <br>
</div>
