<div class="my-3">
    <h2>Map</h2>
    <br>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 ( 'Video ' + data )</strong>
            <hr>
            <strong>Data : </strong> <span class="text-success"><b>{{ msg1 }}</b></span>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 (data => data * 3)</strong>
            <hr>
            <strong>Data : </strong> <span class="text-success"><b>{{ msg2 }}</b></span>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 (Map Object Data)</strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>
    </div>
    <br>
</div>
