<div class="row my-5">
    <div class="col-md-3 my-3">
        <a routerLink="fromEvent" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    From Event
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="interval" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Interval
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="of-from" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Of And From
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="to-array" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    To Array
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="custom" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Custom Observables
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="map" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Map
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="pluck" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Pluck
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="filter" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Filter
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="tap" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Tap
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="take" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Take, TakeLast and TakeUntil
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="retry" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Retry, RetryWhen <br> Scan and Delay
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="debouncetime" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    DebounceTime <br> DistinctUntilChange
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="subject" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Subject
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="replay-subject" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Replay Subject
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="async-subject" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Async Subject
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="concat-and-merge" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Concat and Merge
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="mergeMap" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    MergeMap
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="concatMap" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Concat Map
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="concatMapTwo" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Concat Map Two
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="switchMap" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Switch Map
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="switchMapSearch" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Switch Map Search
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="exhaustMap" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Exhaust Map
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="share-replay" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Share Replay
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="combine-latest" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Combine Latest &<br> WithLatestFrom
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="zip" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    Zip &<br> ForkJoin
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 my-3">
        <a routerLink="catch-throw" class="ancor_css">
            <div class="card shadow bg-light text-dark p-5">
                <div class="card-body d-flex justify-content-center">
                    CatchError &<br> ThrowError
                </div>
            </div>
        </a>
    </div>
</div>
