<div class="row my-3">
    <div class="col-md-4">
        <h2>Concat Map</h2>
        <p>
            <strong>
                Ex - 01 | ConcatMap
            </strong>
        </p>
        <p>
            Mobile Notification Example
        </p>
    </div>
    <div class="col-md-8">
        <div class="iphone-x">
            <i>Speaker</i>
            <b>Camera</b>
            <s>10:24</s>
            <div class="notification" id="elContainer">

                <!-- <div class="item">
                    <div class="header">
                        <div class="app">
                            <img src="assets/fb-icon.png" alt="" width="20">
                            Facebook
                        </div>
                        <div class="time">4 Second Ago.</div>
                    </div>
                    <div class="body">
                        <img src="https://placeimg.com/50/50/tech/4" alt="" class="item-img">
                        <strong>Alax Johnson</strong>
                        <p>
                            Commented on youer #Uxtrendz Post: Awesome Post !!!! Thanks...
                        </p>
                    </div>
                </div> -->

            </div>
            <span>Left action button</span>
            <span>Right action button</span>
        </div>
    </div>
</div>

